#initialLoadingBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-size: 10vw;
    padding-top: 30vh;
    background-color: #272b30;
    z-index: 100000;
    color: #f6c23e;
    text-align: center;
}

body {
    background-color: #272b30 !important;
}

#wrapper {
    height: 100vh;
}

h2 {
    font-style: italic;
    font-size: 1.6rem;
}

.sidebar {
    width: 15vw !important;
}

.sidebar .nav-item .nav-link {
    padding: 0px;
    padding-left: 30px;
    width: 20rem;
}

.sidebar .nav-item .nav-link span {
    font-size: 1.0rem;
}

.sidebar .nav-item small {
    color: rgb(128, 128, 128);
}

.sidebar-heading {
    color: rgb(228, 228, 228) !important;
}


.contribution {
    margin-top: 3vw !important;
}

#wrapper #content-wrapper {
    background-color: #272b30;
    width: 100%;
    overflow-x: hidden;
    color: white;
}

#sidebar {
    background-image: linear-gradient(90deg, #484e55, #3a3f44 60%, #272b30);
    background-color: #000000;
}

.card {
    border-color: #424242;
    background-color: #181818;
    margin: 5px;
}

.card-header {
    color: white;
    border-bottom: #424242;
    background-color: #000;
}

.card-body {
    color: white;
}

.map-overlay {
    position: absolute;
    width: 3.8rem;
    font-size: 0.7rem;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
}

.map-overlay hr {
    margin: 0;
    border-color: gray;
}

.airport-description {
    color: rgb(128, 128, 128);
}

.airport-description strong {
    color: rgb(228, 228, 228);
}

.text-small {
    font-size: 0.7rem;
}

[chartarea] button {
    width: 7rem;
    background-color: #244044;
}

[metarRefreshButton] {
    background-color: #54542a;
}

[runwayRefreshButton] {
    background-color: #3c656a;
}

div[logo] {
    font-family: 'FontAwesome';
}

[contentsHeader] {
    background-color: #0c0c0c;
}

.all-image {
    box-shadow: 5px 5px 10px #000;
    border-radius: 25px;
    width: 30vw;
}

.airport-image {
    box-shadow: 5px 5px 10px #000;
    border-radius: 25px;
    height: 20vh;
}

.navbar-nav {
    overflow-x: hidden;
    overflow-y: auto;
}


.navbar-nav ul {
    z-index: 10;
}

.sidebar .bottom-copyright {
    position: absolute;
    bottom: 10px;
}

.sidebar .bottom-copyright .nav-link span {
    font-size: 1rem !important;
    font-style: italic !important;
}

.sidebar .bottom-copyright .nav-item .nav-link {
    padding: 0px;
    padding-left: 30px;
    width: 14rem;
}


@media screen and (max-height: 1000px) {
    .bottom-copyright {
        display: none;
    }
}